/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    keymap {
        compatible = "zmk,keymap";
             
        windows {
            bindings = <
                   &kp ESC     &kp GRAVE    &kp N1    &kp N2  &kp N3     &kp N4     &kp N5    &kp N6    &kp N7     &kp N8    &kp N9     &kp N0   &kp MINUS  &kp EQUAL  &kp BACKSPACE
                   &kp DEL       &kp TAB     &kp Q     &kp W   &kp E      &kp R      &kp T     &kp Y     &kp U      &kp I     &kp O      &kp P    &kp LBKT   &kp RBKT  &kp BACKSLASH
   &kp F1          &kp HOME  &kp CAPSLOCK     &kp A     &kp S   &kp D      &kp F      &kp G     &kp H     &kp J      &kp K     &kp L   &kp SEMI     &kp SQT  &kp ENTER      &kp PG_UP
   &kp F2          &kp END    &kp LSHIFT     &kp Z     &kp X   &kp C      &kp V      &kp B     &kp N     &kp M  &kp COMMA   &kp DOT  &kp SLASH  &kp RSHIFT     &kp UP      &kp PG_DN
 &lt 2 F3          &kp C_MUTE   &kp LCTRL  &kp LWIN  &kp LALT   &mo 1  &kp SPACE     &kp SPACE  &kp RALT  &kp RWIN  &kp RCTRL  &kp LEFT   &kp DOWN   &kp RIGHT
            >;
        };

        windows_fn {
            bindings = <
               &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F6    &kp F7  &kp F8      &kp F9       &kp F10     &kp F11       &kp F12     &kp C_MUTE
               &rgb_ug RGB_SAI           &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans      &trans        &trans      &trans        &trans         &trans
       &tog 3  &rgb_ug RGB_SAD           &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT        &trans      &trans        &trans  &kp C_BRI_INC
 &out OUT_USB  &rgb_ug RGB_BRI           &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans      &trans        &trans      &trans  &kp C_VOL_UP  &kp C_BRI_DEC
 &out OUT_BLE  &rgb_ug RGB_BRD           &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans  &kp C_PREV  &kp C_VOL_DN  &kp C_NEXT
            >;
        };

        bluetooth {
            bindings = <
             &trans  &bt BT_NXT  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
         &bt BT_CLR  &bt BT_PRV        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans      &trans      &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans      &trans      &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans      &trans      &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        macos {
            bindings = <
                  &kp ESC     &kp GRAVE    &kp N1    &kp N2  &kp N3     &kp N4     &kp N5    &kp N6    &kp N7     &kp N8    &kp N9     &kp N0   &kp MINUS  &kp EQUAL  &kp BACKSPACE
                  &kp DEL       &kp TAB     &kp Q     &kp W   &kp E      &kp R      &kp T     &kp Y     &kp U      &kp I     &kp O      &kp P    &kp LBKT   &kp RBKT  &kp BACKSLASH
   &kp F1        &kp HOME  &kp CAPSLOCK     &kp A     &kp S   &kp D      &kp F      &kp G     &kp H     &kp J      &kp K     &kp L   &kp SEMI     &kp SQT  &kp ENTER      &kp PG_UP
   &kp F2         &kp END    &kp LSHIFT     &kp Z     &kp X   &kp C      &kp V      &kp B     &kp N     &kp M  &kp COMMA   &kp DOT  &kp SLASH  &kp RSHIFT     &kp UP      &kp PG_DN
   &lt 2 F3  &kp C_MUTE     &kp LCTRL  &kp LALT  &kp LWIN   &mo 4  &kp SPACE     &kp SPACE  &kp RWIN  &kp RALT  &kp RCTRL  &kp LEFT   &kp DOWN   &kp RIGHT
            >;
        };

        macos_fn {
            bindings = <
               &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F6    &kp F7  &kp F8      &kp F9       &kp F10     &kp F11       &kp F12     &kp C_MUTE
               &rgb_ug RGB_SAI           &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans      &trans        &trans      &trans        &trans         &trans
       &tog 3  &rgb_ug RGB_SAD           &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT        &trans      &trans        &trans  &kp C_BRI_INC
 &out OUT_USB  &rgb_ug RGB_BRI           &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans      &trans        &trans      &trans  &kp C_VOL_UP  &kp C_BRI_DEC
 &out OUT_BLE  &rgb_ug RGB_BRD           &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans  &kp C_PREV  &kp C_VOL_DN  &kp C_NEXT
            >;

        };
    };
};
